# Final Project - Part 1

## Problem Statement:

Many people move to our nation's capitol each year seeking opportunities with the government or high paying jobs in the private sector.  This can lead to a significant wage disparity between federal and private sector workers.  The median household income as reported by the US Census Bureau for 2017 in the District was USD82,372.  The increased desirability of DC proper coupled with limited room for expansion has driven the cost of living quite high primarily due to the cost of housing.  Rent Jungle reported the average rental cost in Washinton DC was USD2360 per month as of April 2019.  According to Black Knight, the average cost of a condo in Washington DC last year was USD451,100 whereas the average cost of a single family home was USD679,000.  When compared to 2009, these figures were USD357,000 and USD399,000 respectively.  Due to factors like the announcement of Amazon's HQ2, housing prices are expected to continue to soar even higher over the next decade in response to the increased demand.  With interest rates remaining low and mortgage products with as little as 3% down, a condo can be a solid investment at a better price point compared to a single family home.

The cost of housing is driven by a number of factors including the number of rooms, bedrooms, bathrooms, square footage and also the year it was built and if the property has been remodeled.

The goal of this project is to predict the price a condominium in Washington DC that could help a potential buyer understand if it's a good time to buy and if they are getting a good deal.

The measure of success would be to predict the cost of a condominium with a reasonable degree of accuarcy based on the criteria provided.

The risks are that this dataset is only looking at condos in Washington DC proper.  Also because the housing market is so competitve and prices can sometimes be inflated due to bidding wars, the prices listed may not always be indicative of actual market value.  The DC market also has a significant number of co-ops that are listed in the condo market which could skew the data because the cost is generally lower since the buyer is buying shares in building instead of the physical property.

In [1]:
import pandas as pd

In [2]:
condos = pd.read_csv('../data/raw_condominium_data.csv')

In [4]:
condos.head()

,OBJECTID,SSL,BLDG_NUM,CMPLX_NUM,AYB,YR_RMDL,EYB,ROOMS,BEDRM,BATHRM,...,AC,FIREPLACES,SALEDATE,PRICE,QUALIFIED,SALE_NUM,LIVING_GBA,USECODE,LANDAREA,GIS_LAST_MOD_DTTM
0,1001,3037 2003,1,5329,1911,2016.0,1919,4.0,2.0,2.0,...,Y,0.0,2016-12-20T00:00:00.000Z,599900.0,Q,2,1084,16,716,2018-07-22T18:01:38.000Z
1,1002,3037 2004,1,5329,1911,2016.0,1919,4.0,2.0,2.0,...,Y,0.0,2016-12-13T00:00:00.000Z,0.0,U,3,1237,16,827,2018-07-22T18:01:38.000Z
2,1003,3037 2005,1,5329,1911,2016.0,1919,4.0,2.0,2.0,...,Y,0.0,2017-02-22T00:00:00.000Z,677900.0,U,2,1267,16,844,2018-07-22T18:01:38.000Z
3,1004,3037 2006,1,5329,1911,2016.0,1919,4.0,2.0,2.0,...,Y,0.0,2016-12-22T00:00:00.000Z,659900.0,U,2,1151,16,763,2018-07-22T18:01:38.000Z
4,1005,3037 2007,1,5329,1911,2016.0,1919,4.0,2.0,2.0,...,Y,0.0,2016-12-19T00:00:00.000Z,645000.0,U,2,1080,16,716,2018-07-22T18:01:38.000Z

In [3]:
condos.shape

(53611, 23)

In [6]:
condos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53611 entries, 0 to 53610
Data columns (total 23 columns):
OBJECTID             53611 non-null int64
SSL                  53611 non-null object
BLDG_NUM             53611 non-null int64
CMPLX_NUM            53611 non-null int64
AYB                  53611 non-null int64
YR_RMDL              32125 non-null float64
EYB                  53611 non-null int64
ROOMS                52937 non-null float64
BEDRM                52951 non-null float64
BATHRM               52951 non-null float64
HF_BATHRM            52712 non-null float64
HEAT                 52950 non-null float64
HEAT_D               52950 non-null object
AC                   52951 non-null object
FIREPLACES           52790 non-null float64
SALEDATE             53611 non-null object
PRICE                49701 non-null float64
QUALIFIED            53610 non-null object
SALE_NUM             53611 non-null int64
LIVING_GBA           53611 non-null int64
USECODE              53611 non-null int64
LANDAREA             53611 non-null int64
GIS_LAST_MOD_DTTM    53611 non-null object
dtypes: float64(8), int64(9), object(6)
memory usage: 9.4+ MB

In [7]:
condos.isnull().sum()

OBJECTID                 0
SSL                      0
BLDG_NUM                 0
CMPLX_NUM                0
AYB                      0
YR_RMDL              21486
EYB                      0
ROOMS                  674
BEDRM                  660
BATHRM                 660
HF_BATHRM              899
HEAT                   661
HEAT_D                 661
AC                     660
FIREPLACES             821
SALEDATE                 0
PRICE                 3910
QUALIFIED                1
SALE_NUM                 0
LIVING_GBA               0
USECODE                  0
LANDAREA                 0
GIS_LAST_MOD_DTTM        0
dtype: int64