# Final Project - Part 1

## Problem Statement:

According to Kelly Blue Book, the average price of a new light vehicle in the United States in June 2019 was USD37,285.  The average income per the Bureau of Labor and Statistics in Q1 2019 was USD47,060 with a wage disparity of USD66,820 for professional occupations and USD30,524 for service occupations.  Given the ever rising cost of living, a used car is the best option for many Americans due to the lower price and generally lower down payment when financing.  

The price of a used vehicle is driven by a number of factors including mileage, age, make, model and locality.  

The goal of this project is to predict the list price of a used automobile using these factors that could help steer a potential buyer to the best car for their budget.  

The measure of success will be to predict the sales price with a reasonable degree of accuracy based on the criteria defined.

The risks are that the data was collected from one source which could bias the outcome.  Also the data consists of list prices and not the actual cost.  The data is somewhat limited as it lacks a indicators for condition and color which can be important factors in the car buying process.  Therefore, we can only expect an outcome that is reasonable within the confines of the dataset.

In [1]:
import pandas as pd

In [7]:
cars = pd.read_csv('../data/true_car_listings.csv')

In [8]:
cars.head()

,Id,Price,Year,Mileage,City,State,Vin,Make,Model
0,1,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,2,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,3,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,4,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,5,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic

In [10]:
cars.shape

(852122, 9)

In [23]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852122 entries, 0 to 852121
Data columns (total 9 columns):
Id         852122 non-null int64
Price      852122 non-null int64
Year       852122 non-null int64
Mileage    852122 non-null int64
City       852122 non-null object
State      852122 non-null object
Vin        852122 non-null object
Make       852122 non-null object
Model      852122 non-null object
dtypes: int64(4), object(5)
memory usage: 58.5+ MB

In [21]:
cars.isnull().sum()

Id         0
Price      0
Year       0
Mileage    0
City       0
State      0
Vin        0
Make       0
Model      0
dtype: int64